[Desktop Entry]
Type=Application
Name[aa]=Rattema Digrise
Name[am]=ምስል እና ድምፅ ማጫወቻ
Name[ast]=Reproductor multimedia
Name[be]=Медыяплэер
Name[br]=Lenner liesvedia
Name[bs]=Izvođač medije
Name[ca]=Reproductor multimèdia
Name[ca@valencia]=Reproductor multimèdia
Name[cs]=Přehrávač médií
Name[cy]=Chwaraewr Cyfryngau
Name[da]=Medieafspiller
Name[de]=Medienwiedergabe
Name[el]=Αναπαραγωγή πολυμέσων
Name[en_AU]=Media Player
Name[en_GB]=Media Player
Name[es]=Reproductor multimedia
Name[eu]=Multimedia-erreproduzitzailea
Name[fa]=پخش کننده‌ی رسانه
Name[fi]=Mediasoitin
Name[fr_CA]=Diffuseur de médias
Name[fr]=Lecteur multimédia
Name[gd]=Cluicheadair mheadhanan
Name[gl]=Reprodutor multimedia
Name[he]=נגן מדיה
Name[hi]=मीडिया प्लेयर
Name[hr]=Player medija
Name[hu]=Médialejátszó
Name[ia]=Reproductor de medios
Name[id]=Pemutar Media
Name[is]=Margmiðlunarspilari
Name[it]=Riproduttore multimediale
Name[ja]=メディアプレーヤー
Name[kab]=Imeɣri n ugetmedia
Name[km]=កម្មវិធី​ចាក់​មេឌៀ
Name[ko]=미디어 플레이어
Name[ku]=Lêdarê Medya
Name[lo]=ເຄື່ອງຫຼິ້ນມີເດຍ
Name[lv]=Mediju atskaņotājs
Name[ms]=Pemain Media
Name[nb]=Medieavspiller
Name[ne]=मिडिया प्लेयर
Name[nl]=Mediaspeler
Name[oc]=Lector multimèdia
Name[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimediów
Name[pt_BR]=Media Player
Name[pt]=Leitor de multimédia
Name[ro]=Player media
Name[ru]=Медиаплеер
Name[sk]=Prehrávač multimédií
Name[sl]=Predvajalnik predstavnosti
Name[sq]=Luaj Media
Name[sr]=Медијски програм
Name[sv]=Mediaspelare
Name[ta]=ஊடக செயலர்
Name[tr]=Ortam Oynatıcı
Name[ug]=ۋاسىتە قويغۇ
Name[uk]=Програвач
Name[vi]=Trình phát phương tiện
Name[zh_CN]=媒体播放器
Name[zh_HK]=媒體播放器
Name[zh_TW]=媒體播放
Name[zh_LATN@pinyin]=媒体播放器
Name[et]=Meediaesitaja
Name=Media Player
GenericName[aa]=Rattema Digrise
GenericName[am]=ምስል እና ድምፅ ማጫወቻ
GenericName[ast]=Reproductor multimedia
GenericName[be]=Медыяплэер
GenericName[br]=Lenner liesvedia
GenericName[bs]=Izvođač medije
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Přehrávač médií
GenericName[cy]=Chwaraewr Cyfryngau
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγή πολυμέσων
GenericName[en_AU]=Media Player
GenericName[en_GB]=Media Player
GenericName[es]=Reproductor multimedia
GenericName[eu]=Multimedia-erreproduzitzailea
GenericName[fa]=پخش کننده‌ی رسانه
GenericName[fi]=Mediasoitin
GenericName[fr_CA]=Diffuseur de médias
GenericName[fr]=Lecteur multimédia
GenericName[gd]=Cluicheadair mheadhanan
GenericName[gl]=Reprodutor multimedia
GenericName[he]=נגן מדיה
GenericName[hi]=मीडिया प्लेयर
GenericName[hr]=Player medija
GenericName[hu]=Médialejátszó
GenericName[ia]=Reproductor de medios
GenericName[id]=Pemutar Media
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Riproduttore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[kab]=Imeɣri n ugetmedia
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[ko]=미디어 플레이어
GenericName[ku]=Lêdarê Medya
GenericName[lo]=ເຄື່ອງຫຼິ້ນມີເດຍ
GenericName[lv]=Mediju atskaņotājs
GenericName[ms]=Pemain Media
GenericName[nb]=Medieavspiller
GenericName[ne]=मिडिया प्लेयर
GenericName[nl]=Mediaspeler
GenericName[oc]=Lector multimèdia
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimediów
GenericName[pt_BR]=Media Player
GenericName[pt]=Leitor de multimédia
GenericName[ro]=Player media
GenericName[ru]=Медиаплеер
GenericName[sk]=Prehrávač multimédií
GenericName[sl]=Predvajalnik predstavnosti
GenericName[sq]=Luaj Media
GenericName[sr]=Медијски програм
GenericName[sv]=Mediaspelare
GenericName[ta]=ஊடக செயலர்
GenericName[tr]=Ortam Oynatıcı
GenericName[ug]=ۋاسىتە قويغۇ
GenericName[uk]=Програвач
GenericName[vi]=Trình phát phương tiện
GenericName[zh_CN]=媒体播放器
GenericName[zh_HK]=媒體播放器
GenericName[zh_TW]=媒體播放
GenericName[zh_LATN@pinyin]=媒体播放器
GenericName[et]=Meediaesitaja
GenericName=Media Player
Comment[aa]=Rattema Digrise
Comment[am]=ምስል እና ድምፅ ማጫወቻ
Comment[ast]=Reproductor multimedia
Comment[be]=Медыяплэер
Comment[br]=Lenner liesvedia
Comment[bs]=Izvođač medije
Comment[ca]=Reproductor multimèdia
Comment[ca@valencia]=Reproductor multimèdia
Comment[cs]=Přehrávač médií
Comment[cy]=Chwaraewr Cyfryngau
Comment[da]=Medieafspiller
Comment[de]=Medienwiedergabe
Comment[el]=Αναπαραγωγή πολυμέσων
Comment[en_AU]=Media Player
Comment[en_GB]=Media Player
Comment[es]=Reproductor multimedia
Comment[eu]=Multimedia-erreproduzitzailea
Comment[fa]=پخش کننده‌ی رسانه
Comment[fi]=Mediasoitin
Comment[fr_CA]=Diffuseur de médias
Comment[fr]=Lecteur multimédia
Comment[gd]=Cluicheadair mheadhanan
Comment[gl]=Reprodutor multimedia
Comment[he]=נגן מדיה
Comment[hi]=मीडिया प्लेयर
Comment[hr]=Player medija
Comment[hu]=Médialejátszó
Comment[ia]=Reproductor de medios
Comment[id]=Pemutar Media
Comment[is]=Margmiðlunarspilari
Comment[it]=Riproduttore multimediale
Comment[ja]=メディアプレーヤー
Comment[kab]=Imeɣri n ugetmedia
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ
Comment[ko]=미디어 플레이어
Comment[ku]=Lêdarê Medya
Comment[lo]=ເຄື່ອງຫຼິ້ນມີເດຍ
Comment[lv]=Mediju atskaņotājs
Comment[ms]=Pemain Media
Comment[nb]=Medieavspiller
Comment[ne]=मिडिया प्लेयर
Comment[nl]=Mediaspeler
Comment[oc]=Lector multimèdia
Comment[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimediów
Comment[pt_BR]=Media Player
Comment[pt]=Leitor de multimédia
Comment[ro]=Player media
Comment[ru]=Медиаплеер
Comment[sk]=Prehrávač multimédií
Comment[sl]=Predvajalnik predstavnosti
Comment[sq]=Luaj Media
Comment[sr]=Медијски програм
Comment[sv]=Mediaspelare
Comment[ta]=ஊடக செயலர்
Comment[tr]=Ortam Oynatıcı
Comment[ug]=ۋاسىتە قويغۇ
Comment[uk]=Програвач
Comment[vi]=Trình phát phương tiện
Comment[zh_CN]=媒体播放器
Comment[zh_HK]=媒體播放器
Comment[zh_TW]=媒體播放
Comment[zh_LATN@pinyin]=媒体播放器
Comment[et]=Meediaesitaja
Comment=Media Player
Keywords[be]=Фільмы;Плэер фільмаў;Відэаплэер
Keywords[ca]=Pel·lícula;Reproductor de pel·lícules;vídeo
Keywords[cs]=Filmy;Přehrávač Filmů;Přehrávač Videí
Keywords[da]=Film;Filmafspiller;Videoafspiller
Keywords[de]=Filme;Movie Player;Videoplayer
Keywords[en_GB]=Movies;Movie Player;Videos;Video Player
Keywords[es]=Películas; Reproductor de películas; Reproductor de vídeo
Keywords[eu]=Filmak;Film-ikustatzailea;Bideo-ikustatzailea
Keywords[fi]=Movies;Movie Player;Video Player;elokuvat;videot
Keywords[fr]=Films;Lecteur de films;Lecteur Vidéo
Keywords[hi]=फ़िल्में; फ़िल्म देखने का खिलाड़ी ; वीडियो प्लेयर
Keywords[hr]=Filmovi;Filmski player;Video player
Keywords[ja]=ムービー;ムービープレーヤー:ビデオプレーヤー
Keywords[lo]=ຮູບເງົາ;ເຄື່ອງຫຼິ້ນຮູບເງົາ;ເຄື່ອງຫຼິ້ນວິດີໂອ
Keywords[nb]=Filmer;Filmavspiller;Videoavspiller
Keywords[nl]=Films;Filmspeler;Videospeler;Video's
Keywords[pl]=Filmy;Odwarzacz Filmów;Odtwarzacz Wideo
Keywords[pt]=Filmes; Reprodutor de Vídeo
Keywords[sr]=Филмови; Филмски плејер; Видео плејер
Keywords[sv]=Filmer;Filmspelare;Videospelare
Keywords[ta]=திரைப்படங்கள்; மூவி பிளேயர்; வீடியோ பிளேயர்
Keywords[tr]=Filmler;Film Oynatıcı;Video Oynatıcı
Keywords[uk]=Фільми;Відеоплеєр;Відеоплеєр
Keywords[vi]=Phim;Trình phát phim;Trình phát video
Keywords[zh_CN]=影视；影视播放器；视频播放器
Keywords[zh_LATN@pinyin]=影视；影视播放器；视频播放器
Keywords[et]=Movies;Movie Player;Video Player;filmid;videod;film;video;
Keywords=Movies;Movie Player;Video Player
Exec=env QT_MULTIMEDIA_PREFERRED_PLUGINS=gstreamer GST_PLUGIN_FEATURE_RANK=amcviddec-c2unisocavcdecoder:0,openh264dec:3000 lomiri-mediaplayer-app %u
Terminal=false
Icon=/usr/share/lomiri-mediaplayer-app/lomiri-mediaplayer-app.png
X-Lomiri-Touch=true
X-Lomiri-SymbolicIcon=/usr/share/lomiri-mediaplayer-app/lomiri-mediaplayer-app-symbolic.svg
X-Lomiri-Gettext-Domain=lomiri-mediaplayer-app
X-Lomiri-Single-Instance=true
X-Lomiri-Splash-Image=/usr/share/lomiri-mediaplayer-app/lomiri-mediaplayer-app-splash.svg
X-Lomiri-Splash-Color=#8940a8
X-Lomiri-Default-Department-ID=sound-video
